# Ignore virtual environments
venv/
*.venv

# Ignore compiled Python files
*.pyc
__pycache__

# Ignore local development and testing data
data/

# Ignore Docker-related files
docker-compose.yml

# Ignore IDE-specific files and directories
.idea/
.vscode/

# Ignore macOS system files
.DS_Store